html body #middle {
  width: 7.2rem;
  background-color: #fff;
}

html body #middle .site {
  width: 100%;
  border-bottom: 0.03rem solid orange;
  border-image: url("../images/order/border_bg2.png") 7 repeat stretch;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

html body #middle .site > div {
  padding-left: 0.5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: url("../images/order/place.png") no-repeat center left;
  background-size: 0.17rem 0.25rem;
  background-position-x: 0.16rem;
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-content: center;
  -moz-align-content: center;
  align-content: center;
}

html body #middle .site > div > h3 {
  color: #474646;
  line-height: 0.33rem;
  font-weight: normal;
  font-size: 0.2rem;
}

html body #middle .site > a {
  -webkit-flex: 0 0 0.27rem;
  -moz-flex: 0 0 0.27rem;
  flex: 0 0 0.27rem;
  padding-left: 0.06rem;
}

html body #middle .site > a > img {
  display: block;
  width: 0.27rem;
}
