@mixin border-radius($size) {
    -webkit-border-radius: $size;
    -moz-border-radius: $size;
    -ms-border-radius: $size;
    -o-border-radius: $size;
    border-radius: $size;
}

html {
    body {
        margin: 0 auto;
        max-width: 7.2rem;
        #head {
            .scanning {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0.28rem;
                margin: auto;
                >img {
                    width: 0.49rem;
                }
            }
            .searchs {
                width: 5.12rem;
                height: 0.71rem;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 1.04rem;
                margin: auto;
                background-color: white;
                @include border-radius(0.35rem);
                .search,
                .talking,
                >input {
                    float: left;
                    height: 100%;
                }
                .search {
                    width: 0.93rem;
                    background-color: #e8c93b;
                    border-radius: 0.35rem 0 0 0.35rem;
                    >img {
                        width: 0.27rem;
                    }
                }
                >input {
                    color: #cacac8;
                    font-size: 0.24rem;
                    width: 3.20rem;
                }
                .talking {
                    float: right;
                    width: 0.88rem;
                    border-radius: 0 0.35rem 0.35rem 0;
                    background-color: white;
                    >img {
                        width: 0.26rem;
                    }
                }
            }
            .msg {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0.27rem;
                margin: auto;
                >img {
                    width: 0.52rem;
                }
            }
        }
        .banners {
            width: 7.2rem;
            padding-top: 44.44%;
            position: relative;
            overflow: hidden;
            .imgbox {
                width: 1000%;
                position: absolute;
                left: 0;
                top: 0;
                overflow: hidden;
                li {
                    width: 10%;
                    float: left;
                    a {
                        display: block;
                        width: 100%;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            .point {
                position: absolute;
                bottom: 0.22rem;
                overflow: hidden;
                width: 0.55rem;
                left: 0;
                right: 0;
                margin: auto;
                li {
                    width: 0.08rem;
                    height: 0.08rem;
                    @include border-radius(0.04rem);
                    float: left;
                    margin: 0.05rem;
                    background-color: #fff;
                    cursor: pointer;
                }
                li:hover,.active{
                    background-color: #e8c93b;
                }
            }
        }
        
    }
}