@mixin border-radius($size) {
    -webkit-border-radius: $size;
    -moz-border-radius: $size;
    -ms-border-radius: $size;
    -o-border-radius: $size;
    border-radius: $size;
}

html {
    background-color: #f6f4f4;
    body {
        #middle {
            width: 7.2rem;
            background-color: #f6f4f4;
            .login {
                width: 4.42rem;
                margin: 0 auto;
                padding-top: 0.45rem;
                overflow: hidden;
                input {
                    float: left;
                    border: 0.01rem solid #d2d2d2;
                    width: 4.3rem;
                    height: 0.58rem;
                    line-height: 0.58rem;
                    font-size: 0.24rem;
                    color: #b8b6b6;
                    background-color: #fff;
                    margin-bottom: 0.24rem;
                }
                >div {
                    float: left;
                    width: 4.4rem;
                    height: 0.63rem;
                    overflow: hidden;
                    >input {
                        width: 2.63rem;
                    }
                    >img {
                        float: right;
                        width: 1.56rem;
                    }
                }
                .sub {
                    padding-left: 0;
                    width: 4.38rem;
                    background-color: #e8c93b;
                    color: #fff;
                    font-size: 0.28rem;
                    margin-top: 0.3rem;
                    margin-bottom: 0.11rem;
                }
            }
            >p {
                width: 4.4rem;
                margin: 0 auto;
                overflow: hidden;
                >a {
                    color: #757474;
                    font-size: 0.2rem;
                }
                >a:first-of-type {
                    float: left;
                }
                >a:last-of-type {
                    float: right;
                }
            }
            >ul {
                overflow: hidden;
                width: 4.4rem;
                margin: 1.25rem auto 0.36rem auto;
                >li {
                    float: left;
                    >a {
                        display: block;
                        >img {
                            display: block;
                            width: 0.82rem;
                        }
                    }
                }
                >li:nth-of-type(2) {
                    margin: 0 0.97rem;
                }
            }
            >h3 {
                color: #757474;
                font-size: 0.28rem;
                width: 2.03rem;
                margin: 0 auto;
                background: url('../images/login/up.png') center right no-repeat;
                background-size: 0.2rem 0.12rem;
            }
        }
    }
}