/* 样式初始化
--------------------------------------------------*/

* {
    padding: 0;
    margin: 0;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-family: 'Microsoft YaHei';
    color: #333333;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /*IOS禁止链接高亮*/
    -webkit-touch-callout: none;
    /*IOS禁止链接长按弹出选项菜单*/
}

nav,
footer,
section,
header,
article {
    display: block;
}

ul {
    list-style: none;
}

a:link {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /*禁止链接高亮*/
    -webkit-touch-callout: none;
    /*禁止链接长按弹出选项菜单*/
}

a:link,
a:visited,
a:hover,
a:active {
    color: #333333;
    text-decoration: none;
}

input,
textarea {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    outline: none;
    padding-left: 0.08rem;
}

hr {
    border-color: #ddd;
}

form {
    margin: 0px;
    padding: 0px;
}

img {
    vertical-align: top;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    outline: none;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #cacac8;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #cacac8;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #cacac8;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #cacac8;
}


/* 主体结构
--------------------------------------------------*/

html {
    body {
        margin: 0 auto;
        max-width: 7.2rem;
        #head {
            height: 0.96rem;
            width: 7.2rem;
            background-color: #52d5e9;
            position: relative;
        }
        #middle{
            padding-bottom: 1.1rem;
        }
        #footer {
            height: 1.1rem;
            width: 7.2rem;
            background-color: #52d5e9;
            position: fixed;
            bottom:0;
            >ul {
                width: 100%;
                overflow: hidden;
                height: 100%;
                >li {
                    width: 25%;
                    float: left;
                    height: 100%;
                    >a {
                        font-size: 0.28rem;
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: relative;
                        >img{
                            position: absolute;
                            top: 0.17rem;
                            left: 0;
                            right: 0;
                            margin: auto;
                        }
                        >span {
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom:0.05rem;
                            margin: auto;
                            text-align: center;
                            color: #ffffff;
                        }
                    }
                }
                >li:nth-of-type(1){
                    >a{
                        >img{
                            width:0.5rem;
                        }
                    }
                }
                >li:nth-of-type(2){
                    >a{
                        >img{
                            width: 0.47rem;
                        }
                    }
                }
                >li:nth-of-type(3){
                    >a{
                        >img{
                            width: 0.34rem;
                        }
                    }
                }
                >li:nth-of-type(4){
                    >a{
                        >img{
                            width: 0.35rem;
                        }
                    }
                }
                >li.active {
                    background-color: #0a7d8e;
                    >a {
                        >span {
                            color: #fecc32;
                        }
                    }
                }
            }
        }
    }
}